body {
  line-height: 1.5;
  text-align: justify;
  max-width: 650px;
  margin: auto;
  background-color: #e3d6b4;
}

ul {
  font-size: 14px;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#heading {
  font-size: 60px;
  font-weight: 300;
  padding: 0.5cm
}

.p1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#heading2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 530;
  
}

.p2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color:aliceblue
}

