body {
  line-height: 1.5;
  text-align: justify;
  max-width: 650px;
  margin: auto;
  background-color: #dcd2ba;
}

ul {
  font-size: 14.5px;
  line-height: 1.7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style: none;
}

ul li {
  margin-bottom: 15px;
}

ul li::before{
  content: "🎻";
  display: inline-block;
  margin-right: 0.2rem;
  margin-left: -20px;
}

#heading {
  font-size: 60px;
  font-weight: 300;
  padding: 0.5cm
}

.p1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  border-left: 2px solid black;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#heading2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: 530;
  
}

.p2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color:aliceblue
}

