ul {
  background-color: aliceblue;
}

ul.unordered-list {
  font-size: 20px;
}

#heading {
  font-size: 60px;
  border-bottom: 5cm;
  font-weight: 300;
  background-color: #E9DCBE;
}

.p1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 15px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#heading2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 530;
}

.p2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover {
  background-color:aliceblue
}

body {
  line-height: 1.5;
}

